#ignore these files.  Allows you to use add . or commit -a without worrying about them

#these ones are ignored so that we don't waste space with compiled files or with duplicate files of resources
*.jar
*.class
bin/*
!lib/*.jar
#settings are ignored so noones eclipse settings are screwed up
.settings/*
#notes are ignored because I like to keep a notes sheet in the project directory
notes
